@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-surfaceHighlight: #27272a;
  --color-primary: #8b5cf6;
  --color-primaryHover: #7c3aed;
  --color-accent: #10b981;
  --color-textMain: #ffffff;
  --color-textMuted: #a1a1aa;
}

@layer base {
  body {
    @apply bg-background text-textMain antialiased;
  }
}
